{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>labling</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mukbang/styles.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class ='container'>
            <div class='row col-md-12 m' style='margin-top: 10px;'>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>
