{% extends 'mukbang/base.html' %} {% load static %} {% block content %}
<style>
  @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
  @import url(//fonts.googleapis.com/earlyaccess/hanna.css);
  h1 {
    font-family: "Hanna", sans-serif;
    color: white;
  }
  h2 {
    font-family: "Nanum Pen Script", cursive;
  }
  h3 {
    font-family: "Nanum Pen Script", cursive;
    color: white;
  }
</style>
<div class="main">
  <div class="row" style="margin: 10px">
    <div class="col-md-1 col-md-offset-11">
      <a href="javascript:check_passwd()">
        <img src="{% static 'mukbang/image/setting.png'%}" style="width: 50%" />
      </a>
    </div>
  </div>

  <script>
    function check_passwd() {
      var passwd = prompt("비밀번호를 입력하세요");
      if (passwd == 1234) {
        window.open("{% url 'list_test' %}", "_self");
      }
    }
  </script>

  <div class="row" style="margin-top: 7%; text-align: center">
    <h1>내 취향 Youtuber 찾기 프로젝트</h1>
    <h3>원하시는 분야를 골라주세요~~~~~~</h3>
  </div>
  <div class="row" style="margin-top: 7%">
    <div class="col-md-4">
      <input type="radio" name="category" style="display: none" value="1" />
      <img
        src="{% static 'mukbang/image/burger.png' %}"
        id="img1"
        style="width: 70%"
        class="center-block"
        onClick="document.getElementsByName('category')[0].checked=true; setImageRadio();"
      />
      <h2 style="text-align: center; color: white">먹방</h2>
    </div>
    <div class="col-md-4">
      <input type="radio" name="category" style="display: none" value="2" />
      <img
        src="{% static 'mukbang/image/laptop.png' %}"
        id="img2"
        style="width: 70%"
        class="center-block"
        onClick="document.getElementsByName('category')[1].checked=true; setImageRadio();"
      />
      <h2 style="text-align: center; color: white">테크</h2>
    </div>
    <div class="col-md-4">
      <input type="radio" name="category" style="display: none" value="3" />

      <img
        src="{% static 'mukbang/image/headphones.png' %}"
        id="img3"
        style="width: 70%"
        class="center-block"
        onClick="document.getElementsByName('category')[2].checked=true; setImageRadio();"
      />
      <h2 style="text-align: center; color: white">음악</h2>
    </div>
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
      function setImageRadio() {
        document.getElementById("img1").src =
          document.getElementsByName("category")[0].checked == true
            ? "{% static 'mukbang/image/burger.png' %}"
            : "{% static 'mukbang/image/burger2.png' %}";

        document.getElementById("img2").src =
          document.getElementsByName("category")[1].checked == true
            ? "{% static 'mukbang/image/laptop.png' %}"
            : "{% static 'mukbang/image/laptop2.png' %}";

        document.getElementById("img3").src =
          document.getElementsByName("category")[2].checked == true
            ? "{% static 'mukbang/image/headphones.png' %}"
            : "{% static 'mukbang/image/headphones2.png' %}";
      }
    </script>
  </div>
</div>

<div class="row">
  <div class="col-md-12" style="margin-top: 30px">
    <a
      class="btn btn-info center-block start"
      ;
      onclick="do1()"
      style="width: 20%"
      role="button"
    >
      시작하기
    </a>

    <script>
      function do1() {
        var check = $("input[name=category]:checked").val();
        console.log(check);
        location.href = "/mukbang/question/" + check;
      }
      $(document).ready(function () {
        $(".start1").hide();
      });
    </script>
  </div>
</div>

<script>
  function check_passwd() {
    var passwd = prompt("비밀번호를 입력하세요");
    if (passwd == 1234) {
      window.open("{% url 'list_test' %}", "_self");
    }
  }
</script>
{% endblock %}
