{% extends 'mukbang/base.html' %} {% load static %} {% block content %}
<style>
  @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
  @import url(//fonts.googleapis.com/earlyaccess/hanna.css);
  h1 {
    font-family: "Hanna", sans-serif;
    color: white;
  }
  h2 {
    font-family: "Nanum Pen Script", cursive;
  }
  h3 {
    font-family: "Nanum Pen Script", cursive;
    color: white;
  }
</style>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

<div class="row" style="margin-top: 10%">
  <div class="question1">
    <div>
      <h1 style="color: white">많이 먹는 Youtuber를 보면 입맛이 도나요?</h1>
    </div>

    <div class="row">
      <div class="col-md-12" style="margin-top: 10%"></div>

      <div class="col-md-12">
        <button
          class="select1"
          style="width: 500px; height: 50px; margin-bottom: 20px"
        >
          네
        </button>
      </div>
      <div class="col-md-12" style="height: 200px">
        <button
          class="select2"
          style="width: 500px; height: 50px; margin-bottom: 20px"
        >
          아니요
        </button>
      </div>
    </div>
  </div>
  <div class="question2">
      <div>
        <h1 style="color: white">어디에서 진행하는 먹방을 좋아하나요?</h1>
      </div>
    

    <div class="row">
      <div class="col-md-12" style="margin-top: 10%"></div>

      <div class="col-md-12">
        <button
          class="select3"
          style="width: 500px; height: 50px; margin-bottom: 20px"
        >
          야외
        </button>
      </div>
      <div class="col-md-12" style="height: 200px">
        <button
          class="select3"
          style="width: 500px; height: 50px; margin-bottom: 20px"
        >
          실내
        </button>
      </div>
    </div>
    </div>
  </div>
  <script>
    $(document).ready(function () {
      $(".question2").hide();
      $(".question3").hide();
      $(".question4").hide();
      $(".question5").hide();
      var arr = [0, 0, 0, 0, 0, 0];
      $("button.select1").click(function () {
        
        arr[0] += 2;
        arr[1] += 1;
        arr[2] += 2;
        console.log(arr);
        $(".question1").hide();
        $(".question2").show();
      });
      $("button.select2").click(function () {
        
        arr[3] += 1;
        arr[4] += 1;
        arr[5] += 1;
        console.log(arr);
        $(".question1").hide();
        $(".question2").show();
      });

      $("button.select3").click(function () {
        arr[0] += 1;
        arr[1] += 2;
        arr[5] += 2;
        console.log(arr);
        $(".question2").hide();
        $(".question3").show();
      });
    });

    // var arr = [0, 0, 0, 0, 0, 0];
    // function do1() {
    //   arr[0] += 2;
    //   arr[1] += 1;
    //   arr[2] += 2;

    //   console.log(arr);
    //   $(".question1").hide();
    // }

    // function do2() {
    //   arr[3] += 1;
    //   arr[4] += 1;
    //   arr[5] += 1;
    //   console.log(arr);
  </script>

  {% endblock %}
</div>
