<style>
    
</style>

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>labling</title>
        <link rel="stylesheet" type="text/css" href="{% static 'labeling/styles.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class ='container'>
            <div class='row col-md-12 ' style='margin-top: 10px;'>
                <div class='row' style='margin-top: 20%;'>
                    <div class='col-md-4'>
                        <img src="../../static/mukbang/image/burger.png" class='center-block' style="width: 70%;">
                    </div>
                    <div class='col-md-4'>
                        <img src="../../static/mukbang/image/headphones.png" class='center-block'style="width: 70%;">
                    </div>
                    <div class='col-md-4'>
                        <img src="../../static/mukbang/image/laptop.png"class='center-block' style="width: 70%;">
                    </div>
            

                </div>
                <div class='row'>
                    <div class='col-md-12' style='margin-top: 30px;'>
                        <a class="btn btn-default center-block btn-lg" style="width: 60%;" href="#" role="button">시작하기</a>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-md-12'>
                        <a href="#">
                            <img src='../../static/mukbang/image/setting.png' width='4%' align='right' style='margin-top: 10%;' >
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
