
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <title>labling</title>
        <link rel="stylesheet" type="text/css" href="{% static 'mukbang/styles.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class ='container'>
            <div class='row col-md-12 ' style='margin-top: 10px;'>
                <div class="row">
                    <a>
                        <img src="../../static/mukbang/image/burger.png" style="width: 5%; margin:10px;">
                    </a>
                    <a>
                        <img src="../../static/mukbang/image/headphones.png" style="width: 5%; margin: 10px;">
                    </a>
                    <a>
                        <img src="../../static/mukbang/image/laptop.png" style="width: 5%; margin:10px">
                    </a>                    
                </div>
                <div class='row'>
                    <ul class="nav nav-tabs" style="margin-top: 20px;">
                        <li role="presentation" class="active"><a href="#">GroupA</a></li>
                        <li role="presentation"><a href="#">GroupB</a></li>
                        <li role="presentation"><a href="#">GroupC</a></li>
                        <li role="presentation"><a href="#">GroupD</a></li>
                        <li role="presentation"><a href="#">GroupE</a></li>
                        <li role="presentation"><a href="#">GroupF</a></li>
                      </ul>
                </div>
                <div class='row' style="margin: 10%;">
                    <div class="col-md-3" >
                        <a href="#">
                            <img src="../../static/mukbang/image/setting.png" class='img-circle center-block ' style="width: 80%">
                        </a>
                        <p style="text-align: center;">Title</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#">
                            <img src="../../static/mukbang/image/setting.png" class='img-circle center-block ' style="width: 80%">
                        </a>
                        <p style="text-align: center;">Title</p>
                    </div> 
                    <div class="col-md-3">
                        <a href="#">
                            <img src="../../static/mukbang/image/setting.png" class='img-circle center-block ' style="width: 80%">
                        </a>
                        <p style="text-align: center;">Title</p>
                    </div> 
                    <div class="col-md-3">
                        <a href="#">
                            <img src="../../static/mukbang/image/setting.png" class='img-circle center-block ' style="width: 80%">
                        </a>
                        <p style="text-align: center;">Title</p>
                    </div> 
                </div>
            </div>
        </div>
    </body>
</html>