{% extends 'mukbang/base2.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class='col-md-1 center-block'> 
            <a>
                <img src="{% static 'mukbang/image/burger.png' %}" style="width:100%;">
            </a>
            <h style="text-align: center;"> 먹방 </h>
        </div>
        <div class='col-md-1 center-block'> 
            <a>
                <img src="{% static 'mukbang/image/laptop.png' %}" style="width:100%;">
            </a>
            <h style="text-align: center;"> 테크 </h> 
        </div>
        <div class='col-md-1 center-block'> 
            <a>
                <img src="{% static 'mukbang/image/headphones.png' %}" style="width:100%;">
            </a>
            <h style="text-align: center;"> 음악 </h>
        </div>
    </div>          
</div>


<div class='row' style="margin: 10%;">
    <div class='col-md-12'>
        {% for item in context.youtubers %}
            <div> 
                {{ item.name }}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}